
<div class="p-2">
  <!-- Header with Search and Add Button -->
  <div class="flex justify-between items-center mb-4">
    <h2 class="p-2 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">Quiz Configuration Master</h2>

    <div class="flex items-center space-x-4">
      <input type="text"
             placeholder="Search..."
             [(ngModel)]="searchTerm"
             (ngModelChange)="onSearchChange()"
             class="border rounded px-3 py-2 w-64" />
      <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
              (click)="addNew()">
        Add New
      </button>
    </div>
  </div>

  <!-- Table -->
  <div class="retime_per_ques_in_secive overflow-x-auto shadow-md sm:rounded-lg">
    <ng-container *ngIf="(details | searchFilter: searchTerm) as filteredDetails">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">Sl. No.</th>
            <th scope="col" class="px-6 py-3">Business Name</th>
            <th scope="col" class="px-6 py-3">Coupon Name</th>
            <th scope="col" class="px-6 py-3">Description</th>
            <th scope="col" class="px-6 py-3">Quantity</th>
            <th scope="col" class="px-6 py-3">Expiry Date</th>
            <th scope="col" class="px-6 py-3">Status</th>
            <th scope="col" class="px-6 py-3 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of details | searchFilter: searchTerm | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage } ; let i = index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <td class="px-6 py-4"> {{i + 1}}</td>
            <td class="px-6 py-4">{{ item.bm_id }}</td>
            <td class="px-6 py-4">{{ item.coupon_name }}</td>
            <td class="px-6 py-4">{{ item.description.split(' ').slice(0, 15).join(' ') }}{{ item.description.split(' ').length > 15 ? '...' : '' }}</td>
            <td class="px-6 py-4">{{ item.qty }}</td>
            <td class="px-6 py-4">{{ item.expiry_date }}</td>
            <td class="px-6 py-4">
              <label class="relative inline-flex items-center cursor-pointer">
                <!-- Hidden checkbox -->
                <input type="checkbox"
                       [(ngModel)]="item.status"
                       class="sr-only peer"
                       (change)="onStatusChange(item)" />

                <!-- Track -->
                <div class="w-11 h-6 bg-gray-200 rounded-full peer-focus:ring-4 peer-focus:ring-blue-300
                              dark:peer-focus:ring-blue-800 peer-checked:bg-blue-600 transition-colors duration-300"></div>

                <!-- Thumb -->
                <div class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full
                              peer-checked:translate-x-5 transition-transform duration-300"></div>

                <!-- Label -->
                <span class="ml-3 text-sm font-medium text-gray-900">
                  {{ item.status ? 'Active' : 'Inactive' }}
                </span>
              </label>
            </td>
            <td class="px-4 py-2 border-b text-center">
              <button class="bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600 mr-2"
                      (click)="editItem(item)">
                Edit
              </button>
              <button class="bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600"
                      (click)="deleteItem(item)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <p *ngIf="filteredDetails.length === 0" class="text-center py-2 text-sm italic">No records found</p>

      <!-- Pagination Controls -->
      <div class="flex justify-center my-4" *ngIf="filteredDetails.length > 5">
        <div class="mr-4">
          <label for="pageSize" class="mr-2">Items per page:</label>
          <select id="pageSize" [(ngModel)]="itemsPerPage" (change)="onPageSizeChange($event)" class="border rounded px-3 py-2">
            <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
          </select>
        </div>
        <pagination-controls (pageChange)="currentPage = $event"
                             previousLabel="Prev"
                             nextLabel="Next">
        </pagination-controls>
      </div>
    </ng-container>

  </div>
</div>

<!-- bm_name Modal -->
<div *ngIf="showModal"
     class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
  <div class="bg-white rounded-xl shadow-xl w-full max-w-lg max-h-[90vh] overflow-y-auto p-6">
    <h3 class="text-xl font-semibold mb-4">{{ modalTitle }}</h3>
    <div class="border-b border-gray-300 mb-4"></div>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <!-- Location Name -->
      <div class="mb-4">
        <label class="block mb-1 font-medium" for="bm_id">Business Name <span class="text-red-500">*</span></label>
        <select id="bm_id"
                name="bm_id"
                [(ngModel)]="formDetails.bm_id"
                #bm_id="ngModel"
                required
                class="border rounded px-3 py-2 w-full mb-1"
                [class.border-red-500]="submitted && bm_id.invalid">
          <option value="" disabled selected>Select Business</option>
          <option *ngFor="let bm of businessData"
                  [value]="bm.bm_id">
            {{ bm.bm_name }}
          </option>
        </select>

        <!-- Validation Message -->
        <div *ngIf="submitted && bm_id.invalid" class="text-red-500 text-sm ">
          <div *ngIf="bm_id.errors?.['required']">Business is required.</div>
        </div>
      </div>
      <div class="mb-4">
        <label class="block mb-1 font-medium" for="name">Coupon Name <span class="text-red-500">*</span></label>
        <input type="text"
               id="coupon_name"
               name="coupon_name"
               [(ngModel)]="formDetails.coupon_name"
               #coupon_name="ngModel"
               required
               placeholder="Enter Coupon Name"
               class="border rounded px-3 py-2 w-full mb-1"
               [class.border-red-500]="submitted && coupon_name.invalid" />
        <div *ngIf="submitted && coupon_name.invalid" class="text-red-500 text-sm">
          <div *ngIf="submitted && coupon_name.errors?.['required']">Coupon Name is required.</div>
        </div>
      </div>
      <div class="mb-4">
        <label class="block mb-1 font-medium">Description <span class="text-red-500">*</span></label>
        <textarea name="description"
                  [(ngModel)]="formDetails.description"
                  #description="ngModel"
                  required
                  placeholder="Enter description"
                  class="border rounded px-3 py-2 w-full"
                  [class.border-red-500]="submitted && description.invalid"></textarea>
        <div *ngIf="submitted && description.invalid" class="text-red-500 text-sm">
          <div *ngIf="description.errors?.['required']">Description is required.</div>
        </div>
      </div>

      <div class="mb-4">
        <div>
          <label class="block my-1 font-medium" for="time_per_ques_in_sec">Quantity <span class="text-red-500">*</span></label>
          <input type="text"
                 id="qty"
                 name="qty"
                 [(ngModel)]="formDetails.qty"
                 #qty="ngModel"
                 required
                 minlength="1"
                 pattern="^-?\d+(\.\d+)?$"
                 placeholder="Enter Quantity"
                 class="border rounded px-3 py-2 w-full mb-1"
                 [class.border-red-500]="submitted && qty.invalid" />
          <div *ngIf="submitted && qty.invalid" class="text-red-500 text-sm">
            <div *ngIf="qty.errors?.['required']">Quantity is required.</div>
            <div *ngIf="qty.errors?.['pattern']">Quantity must be a valid number.</div>
          </div>
        </div>

      </div>
      <!-- Date -->
      <div class="mb-4">
        <label class="block mb-1 font-medium">Expiry Date <span class="text-red-500">*</span></label>
        <input type="date"
               name="expiry_date"
               [(ngModel)]="formDetails.expiry_date"
               #expiry_date="ngModel"
               required
               class="border rounded px-3 py-2 w-full mb-1"
               [class.border-red-500]="submitted && expiry_date.invalid" />
        <div *ngIf="submitted && expiry_date.invalid" class="text-red-500 text-sm">
          <div *ngIf="expiry_date.errors?.['required']">Expiry Date is required.</div>
        </div>
      </div>





      <!-- Buttons -->
      <div class="flex justify-end space-x-4 mt-6">
        <button type="button"
                class="bg-gray-300 px-4 py-2 rounded hover:bg-gray-400"
                (click)="reset(form)">
          Cancel
        </button>
        <button type="submit"
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
          {{buttonName}}
        </button>
      </div>
    </form>
  </div>
</div>
